.icon_empresa{
    width: 65px;
}
.titulo_valores{
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #000C79;
}
.texto_valores{
    font-size: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #000000;
}

.title-blue {
    color: #A0C3D9 !important;
}