.header {
  margin: 1%;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 98%;
  background: #011126;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}

.header.sticky {
  background: #578bf2;
  height: 50px;
}
.header nav {
  position: fixed;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-out;
  background: #f2f2f2;
  top: 52px;
  right: 5px;
  width: 200px;
}

.header__logo {
  width: 50px;
  margin: 20px 0px 20px 20px;
}

.header__nav a {
  display: block;
  padding: 10px 20px;
  color: #5c6dd0;
  font-weight: 100;
  font-size: 20px;
}

.header__nav a:hover {
  background-color: none;
  background-color: #5c6dd0;
  color: #f2f2f2;
}

.responsiveMenuHamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.responsiveMenuHamb__line {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 35px;
}

.responsiveMenuHamb__line::before,
.responsiveMenuHamb__line::after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.responsiveMenuHamb__line::before {
  top: 5px;
}
.responsiveMenuHamb__line::after {
  top: -5px;
}

.responsiveMenu {
  display: none;
}

.responsiveMenu:checked ~ nav {
  max-height: 100%;
}
.responsiveMenu:checked ~ .responsiveMenuHamb .responsiveMenuHamb__line {
  background: transparent;
}
.responsiveMenu:checked
  ~ .responsiveMenuHamb
  .responsiveMenuHamb__line::before {
  transform: rotate(-45deg);
  top: 0;
}
.responsiveMenu:checked ~ .responsiveMenuHamb .responsiveMenuHamb__line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 768px) {
  .header nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .header__nav li {
    float: left;
  }
  .header__nav a {
    padding-bottom: 10px;
    color: #f2f2f2;
  }
  .header.sticky {
    color: #011126;
  }

  .header__nav a:hover {
    background-color: transparent;
  }

  .responsiveMenuHamb {
    display: none;
  }

  .header__logo {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .header.sticky {
    height: 75px;
    transition: 0.5s;
  }
}
