.home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.home__banner img {
  width: 100%;
}

.home__text {
  position: absolute;
  color: #fff;
  padding-left: 90px;
  top: 200px;
  width: 700px;
  line-height: 50px;
}

.home__text h2 {
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 10px;
}
.home__text strong {
  color: #5c6dd0;
  font-size: 60px;
}

.diferenciais__title h2 {
  padding: 70px 0;
  margin: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
}
.diferenciais__title span {
  color: #a0c3d9;
  font-weight: 700;
}
.diferenciais__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 200px;
  background: linear-gradient(
    180deg,
    #011126 0%,
    #42628c 56.59%,
    #5c6dd0 101.54%
  );
}
.diferenciais__container div,
.diferenciais__icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 10px;
}
.diferenciais__container h3 {
  margin: 10px 0;
  color: #b5b8ff;
  text-transform: uppercase;
  font-weight: 600;
}
.diferenciais__container p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.diferenciais__container img {
  width: 35px;
  margin-bottom: 20px;
}
.diferenciais__icons {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px 0;
}
.diferenciais__icons div {
  width: 450px;
}
.diferenciais__title-hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    #42628c,
    transparent
  );
}
.diferenciais__icons h3 {
  margin: 10px 0;
  color: #42628c;
  text-transform: uppercase;
  font-weight: 600;
}

.diferenciais__icons p {
  text-align: justify;
  font-size: 20px;
  font-weight: 200;
  color: #011126;
  padding-bottom: 60px;
}
.vantagens {
  padding: 20px 0;
  margin-bottom: 30px;
  display: flex;
 flex-direction: column;
}

.vantagens div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.vantagens figure,
.vantagens ul{
  width: 400px;
}

.vantagens h4{
  color: #A0C3D9;
  margin: 10px 0;
  border-bottom: 1px solid #B5B8FF;
  padding-bottom: 5px;
  width: 160px;
}

.vantagens li{
  font-weight: lighter;
  font-size: 16px;
  text-align: justify;
}

.vantagens__title {
  padding: 70px 0;
  margin: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
}
.vantagens__title span {
  color: #b5b8ff;
  font-weight: 700;
}


@media (max-width: 885px) {
  .home__text {
    width: 600px;
    line-height: 40px;
  }
  .home__text h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .home__text strong {
    font-size: 40px;
  }
}
@media (max-width: 669px) {
  .home__text {
    width: 375px;
    top: 120px;
    padding-left: 50px;
    line-height: 30px;
  }
  .home__text h2 {
    font-size: 30px;
    margin-bottom: 4px;
  }
  .home__text strong {
    font-size: 30px;
  }
}
@media (max-width: 477px) {
  .home__text {
    width: 300px;
    line-height: 20px;
    padding-left: 50px;
  }
  .home__text h2 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .home__text strong {
    font-size: 20px;
  }
}
